<footer id="footer" class="footer">
    <br>
    <br>
    <div class="container">

    <div class="row">

      <div class="col-sm-3">
       
            <ul class="footer-left">
            <li><a href="{{site.baseurl}}/blog">Blog</a></li>
            <li><a href="{{site.baseurl}}/a-propos">À propos</a></li>
            <li><a href="{{site.baseurl}}/participer">Participer</a></li>
            <li><a href="{{site.baseurl}}/projets">Réalisations</a></li>
            <li><a href="{{site.baseurl}}/presse">Espace Presse</a></li>
            </ul>                             
      </div>
      <br>
    
    <div class="col-sm-6">
        

 <div class="text-center newsletter">
<div class="well well-newsletter">
       
            
                <h2><i class="fa fa-paper-plane" aria-hidden="true"></i>  Newsletter</h2>
                
                <p>Inscrivez-vous à notre newsletter mensuelle</p>
                
                <form >
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </span>
                      <input class="form-control" type="text" id="" name="" placeholder="exemple@email.com">
                    </div>
                    <br>
                    <input type="submit" value="Inscription" class="btn btn-large btn-primary" />
              </form>
            </div>  
            </div>  
<br>


           <div class="copyright">
            © 2016 DemocracyOS France <br> 
        
            <br> 
            <i class="fa fa-envelope" aria-hidden="true"> </i> 
                <a href="mailto:contact@democracyos.eu"> 
                <b>contact@democracyos.eu</b>
            </div>


           
    </div>

        <div class="col-sm-3 footer-icons">
            
            <a href="https://github.com/opendemocracynow/opendemocracynow.github.io" target="_blank">
            <i class="fa fa-github "></i>
            </a>
            <a href="https://www.facebook.com/opendemnow/?fref=ts" target="_blank">
            <i class="fa fa-facebook "></i>
            </a>
            <a href="https://medium.com/@DemocracyOS_FR" target="_blank">
            <i class="fa fa-medium "></i>
            </a>
            <a href="https://twitter.com/opendemnow" target="_blank">
            <i class="fa fa-twitter "></i>
            </a>
            
            
        </div>

       
    </div>
    </div>
</footer>