<!-- Blog Sidebar Widgets Column -->
            <div class="col-sm-4">
                    
                    <a href="{{site.baseurl}}/blog"><div class="logo-blog text-center hidden-xs"><img src="{{site.baseurl}}/img/square.png" alt="logo-square-DemocracyOS"></a>
                    
                    <p>Blog</p>
                    </div>
                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Rechercher</h4>
                    <div class="input-group">
                        <input type="text" id="search-input" class="form-control" placeholder="rechercher un post...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                        </span>
                      <!-- /.input-group -->  
                    </div>
                    <ul class= "list-unstyled" style="font-weight:600; margin-top:20px;" id="results-container"></ul>    
                </div>

     

                <!-- Blog Categories Well -->
                <div class="well" id="twitter-widget">
                    <a class="twitter-timeline" data-lang="fr" data-width="650" data-height="400" data-theme="light" href="https://twitter.com/DemocracyOS_FR">Tweets by DemocracyOS_FR</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Derniers articles</h4>
                    {% for post in site.posts limit:8 %}
                    <a href="{{site.url}}{{post.url}}"><div class="btn btn-default btn-well" style="margin-right:3px; margin-top:6px;">{{post.title | truncatewords:6}}</div></a>
                    {% endfor %}

                </div>

            </div>